asgiref==3.3.1
certifi==2020.12.5
chardet==3.0.4
Django==3.0.3
django-bootstrap-modal-forms==1.5.0
django-crispy-forms==1.8.1
django-debug-toolbar==3.2
django-filter==2.4.0
django-model-utils==4.1.1
django-simple-gravatar==1.0.1
django-widget-tweaks==1.4.5
djangorestframework==3.12.2
gunicorn==20.1.0
idna==2.8
importlib-metadata==3.7.3
Markdown==3.3.4
psycopg2==2.8.6
psycopg2-binary==2.8.6
python-dotenv==0.17.0
pytz==2020.5
requests==2.22.0
sqlparse==0.4.1
typing-extensions==3.7.4.3
urllib3==1.25.11
zipp==3.4.1
